<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="container">
    {{#link-to 'index' class="navbar-brand"}}
      <i class='fa fa-rocket'></i>
      Marketnauts
    {{/link-to}}
  </div>
</nav>

{{outlet}}
