<div class="login-with-facebook">
  <div class="button-container">
    <a class="btn btn-primary" href="/auth/facebook">
      <i class='fa fa-facebook'></i>
      Login with Facebook
    </a>
  </div>
</div>
