<div class="container">
  <div class="col-xs-8">
    <div class="well">
      {{outlet}}
    </div>
  </div>

  <div class="col-xs-4">
    <div class="well">
      <img {{bind-attr src=currentUser.avatar alt=currentUser.name}}>
      <h3 class="pull-right">
        {{currentUser.name}}
        <small>#4</small>
      </h3>
      <hr>

      <p>
      <strong>Cash</strong>: {{show-money amount=currentUser.cash}}
      </p>
    </div>

    <div class="well leaderboard">
      <h3>Leaderboard</h3>
      <hr>
      <ol>
        <li>abc <span>(₹ 20)</span></li>
        <li>abc <span>(₹ 20)</span></li>
        <li>abc <span>(₹ 20)</span></li>
        <li>abc <span>(₹ 20)</span></li>
        <li>abc <span>(₹ 20)</span></li>
      </ol>
    </div>
  </div>
</div>
